<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Compiler.Service" version="0.0.58" targetFramework="net45" />
  <package id="FSharp.Data" version="2.0.8.0" targetFramework="net45" />
  <package id="FSharp.Formatting" version="2.4.18" targetFramework="net45" />
  <package id="FSPowerPack.Community" version="3.0.0.0" targetFramework="net45" />
  <package id="FSPowerPack.Core.Community" version="3.0.0.0" targetFramework="net45" />
  <package id="FSPowerPack.Linq.Community" version="3.0.0.0" targetFramework="net45" />
  <package id="FSPowerPack.Metadata.Community" version="3.0.0.0" targetFramework="net45" />
  <package id="FSPowerPack.Parallel.Seq.Community" version="3.0.0.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="2.0.30506.0" targetFramework="net45" />
  <package id="NUnit" version="2.6.3" targetFramework="net45" />
  <package id="RazorEngine" version="3.3.0" targetFramework="net45" />
</packages>