# Build outputs
bin/
**/obj/
**/bin/
output/

# Tools
.fsdocs/
.fake/
.ionide/
.vs/

# Paket
paket-files/
packages/

# Misc
temp/
pkg/
*.suo
*.vsp
*.bak
*.psess
*.ide
*.VisualState.xml
TestResult*.xml
