bin
src/bin
src/obj
*.suo
tests/FSharp.DataFrame.Tests/obj
tests/FSharp.DataFrame.Tests/bin
tests/FSharp.DataFrame.Documentation.Tests/obj
tests/FSharp.DataFrame.Documentation.Tests/bin
tests/FSharp.DataFrame.CSharp.Tests/obj
tests/FSharp.DataFrame.CSharp.Tests/bin
tests/FSharp.DataFrame.Tests.Console/obj
tests/FSharp.DataFrame.Tests.Console/bin
packages/*
docs
tools/FAKE
*.vsp
TestResults.xml
TestResult.xml
*.VisualState.xml
.backup/
*.bak
gh-pages/
release/
*.psess
