bin
src/bin
src/obj
*.suo
tests/FSharp.DataFrame.Tests/obj
tests/FSharp.DataFrame.Tests/bin
tests/FSharp.DataFrame.CSharp.Tests/obj
tests/FSharp.DataFrame.CSharp.Tests/bin
tests/FSharp.DataFrame.Tests.Console/obj
tests/FSharp.DataFrame.Tests.Console/bin
packages/NUnit*
packages/FsCheck*
packages/FSharp*
packages/MathNet*
docs
tools/FAKE
*.vsp
TestResults.xml
TestResult.xml
*.VisualState.xml
.backup/