source https://api.nuget.org/v3/index.json

nuget FsCheck
nuget FSharp.Charting
nuget FSharp.Data
nuget MathNet.Numerics
nuget MathNet.Numerics.FSharp
nuget NUnit 3.9.0
nuget NUnit.ConsoleRunner 3.8.0
nuget FsUnit 3.0.0
nuget RProvider 1.1.22
nuget System.Reflection.Emit
nuget System.Reflection.Emit.Lightweight
nuget FSharp.Core 4.5.2
nuget Microsoft.NET.Test.Sdk 15.8.0
nuget NUnit3TestAdapter 3.9.0
nuget Microsoft.CSharp
nuget R.NET.Community
nuget R.NET.Community.FSharp
nuget DynamicInterop
nuget System.ComponentModel.Composition
nuget NetOffice.Core
nuget NetOffice.Excel
nuget FSharp.Formatting

// [ FAKE GROUP ]
group Build
    source https://api.nuget.org/v3/index.json

    nuget Fake.Core.ReleaseNotes
    nuget Fake.DotNet.Cli
    nuget Fake.Tools.Git
    nuget Fake.IO.FileSystem
    nuget Fake.Core.Target
    nuget NuGet.CommandLine
    nuget Fake.BuildServer.AppVeyor
    nuget Fake.BuildServer.Travis
    nuget Fake.DotNet.AssemblyInfoFile
    nuget Fake.DotNet.NuGet
    nuget Fake.DotNet.Fsi
