<perfconfig>
  <defines>
    <define symbol="DEEDLE_0_9_13" />
    <define symbol="DEEDLE_0_9_13" />
  </defines>
  <reference>
    <reference name="Deedle.dll" />
	<reference name="FsCheck.dll" />
	<reference name="MathNet.Numerics.dll" />
	<reference name="nunit.framework.dll" />
  </reference>
</perfconfig>