<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Charting" version="0.87" targetFramework="net45" />
  <package id="FSharp.Data" version="1.1.10" targetFramework="net45" />
  <package id="FSharp.Formatting" version="2.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="2.0.30506.0" targetFramework="net45" />
  <package id="RazorEngine" version="3.3.0" targetFramework="net45" />
  <package id="MathNet.Numerics" version="2.6.1" targetFramework="net45" />
</packages>