#main .deedleframe, #main .deedleseries {
  margin:0px 0px 20px 20px;
}

#main .deedleframe td, #main .deedleframe th {
  padding:4px 10px 4px 10px;
  min-width:50px;
}
#main .deedleseries td, #main .deedleseries th {
  padding:4px 20px 4px 10px;
}
#main .deedleframe td:first-child, #main .deedleframe th:first-child {
  min-width:30px;
}
#main .deedleseries thead th,
#main .deedleseries td:first-child,
#main .deedleframe thead th,
#main .deedleframe td:first-child {
  padding:4px 20px 4px 10px;
  text-align:left;
  font-weight:bold;
}
#main .deedleseries table,
#main .deedleframe table {
  border-left:1px solid #e0e0e0;
  border-top:1px solid #e0e0e0;
}
#main .deedleseries td, #main .deedleseries th,
#main .deedleframe td, #main .deedleframe th {
  border-right:1px solid #e0e0e0;
  border-bottom:1px solid #e0e0e0;
}
#main .deedleseries thead th,
#main .deedleframe thead th,
#main .deedleframe tr.even {
  background:white;
}
#main .deedleseries tr.odd,
#main .deedleframe tr.odd {
  background:#f8f8f8;
}

#main .deedleseries p, 
#main .deedleframe p {
  font-size:90%;
  margin:0px;
  padding:0px;
  line-height:normal;
}
