name: Build and Test PR

on:
  pull_request:
    branches:
      - master

jobs:
  build-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v1
      - uses: r-lib/actions/setup-r@v1
        name: Setup R environment
        with:
            r-version: '4.0.2'
      - name: Set R_HOME (for RProvider)
        run: echo "R_HOME=$(R RHOME)" >> "$GITHUB_ENV"
        shell: bash
      - name: Install R package dependencies
        run: Rscript -e "install.packages(c('zoo'), repos = 'http://cran.us.r-project.org')"
        shell: bash
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 5.0.103
      - name: Restore .NET local tools
        run: dotnet tool restore
      - name: Restore packages
        run: dotnet paket restore
      - name: Build and test
        run: dotnet fake build

  build-ubuntu:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Set R environment variables (for RProvider)
        run:  |
          mkdir -p ~/.local/lib/R
          echo "R_LIBS_USER=~/.local/lib/R" >> "$GITHUB_ENV"
          echo "R_HOME=$(R RHOME)" >> "$GITHUB_ENV"
        shell: bash
      - name: Install R package dependencies
        run: Rscript -e "install.packages(c('zoo'))"
        shell: bash
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 5.0.103
      - name: Restore .NET local tools
        run: dotnet tool restore
      - name: Restore packages
        run: dotnet paket restore
      - name: Build and test
        run: dotnet fake build
